@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #232536;
  --secondary: #FF5959;
}


.hero-section-home{
  background-image: url('/assets/banner.png');
}
.hero-section-blogs{
  background-image: url('/assets/car.jpg');
}
